body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    color: #415b93;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #415b93;
}

button {
    background-color: #415b93;
    padding: 15px;
    border: 1px solid #415b93;
    font-weight: bold;
    color: white;
    margin-top: 5px;
}

#delete-btn {
    background-color: white;
    color: #415b93;
}

.deli {
    background-color: rgb(201, 65, 47);
    color: #ffffff;
    border: none;
    border-radius: 1px;
    padding: 1px 4px 1px 4px;
    font-weight: lighter;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    
}

li {
    margin-top: 5px;

}

a {
    color: #415b93;

}